.headerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;;
    background-color:  blue;
    height: 150px;
}

.previousImage {
    
}

.previousImage:hover {
    cursor: pointer;
}

.nextImage {

}

.nextImage:hover {
    cursor: pointer;
}